[build]
  publish = "."

[[headers]]
  for = "/*"
  [headers.values]
    # biar iframe & worker bisa jalan
    X-Frame-Options = "ALLOWALL"
    Content-Security-Policy = "default-src 'self' 'unsafe-inline' 'unsafe-eval' data: blob: https:;"
